<div class="header">
    <a href="{% url 'geekshopapp:index' %}" class="logo"></a>
    <div class="top_menu">
        <ul class="menu">
            <li><a href="{% url 'geekshopapp:index' %}" class="{% if request.resolver_match.namespace == 'geekshopapp' %}
              active
            {% endif %}">Home</a></li>
            <li><a href="{% url 'products:index' %}" class="{% if request.resolver_match.namespace == 'products' %}
              active
            {% endif %}">Products</a></li>
            <li><a href="{% url 'geekshopapp:contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}
              active
            {% endif %}">Contacts</a></li>
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin_staff:users' %}">
                        Admin Panel
                    </a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    <div class="dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ user.username|default:'User' }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link text-dark" href="{% url 'auth:edit' %}">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" href="{% url 'ordersapp:orders_list' %}">
                                    Orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'auth:login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
        <a href="#" class="search"></a>
        <a href="{% url 'basket:view' %}" class="basket">
          <span class="cart">
            {% if basket %}
                ({{ basket.0.total_quantity }})
            {% else %}
                0
            {% endif %}
          </span>
        </a>
    </div>
</div>

