<div class="footer">
    <div class="container_pr">
        <div class="clearfix">
            <div class="text-footer">
                <h3>contacts</h3>
            </div>
            <div class="text-footer">
                <h3>information</h3>
            </div>
            <div class="text-footer clearfix">
                <h3>Leave feedback</h3>
                <p>Subscribe to news</p>
                <form>
                    <input type="email" name="email" placeholder="your email">
                    <a href="#"><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i></a>
                </form>
            </div>
        </div>
        <p class="small">&copy; Dmitry Vokhmin</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        <p class="small">Conditions / Confidentiality &amp; Cookies</p>
    </div>
</div>