{% extends 'geekshopapp/base.html' %}
{% load static %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'ordersapp/js/script.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="basket_container">
            <div class="top_basket">
                <div class="hero_basket">
                    {% include 'geekshopapp/includes/inc_main_menu.html' %}
                </div>
                <div class="container">
                    <div class="row">
                        <div class="h2 text-center head">
                            Youe orders,
                            {% if user.first_name %}
                                {{ user.first_name|title }}
                            {% else %}
                                User
                            {% endif %}
                        </div>
                        <table class="table orders_list">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Status</th>
                                <th colspan="3" style="text-align: center;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in object_list %}
                                {% if item.is_active %}
                                    <tr>
                                        <td class="td1 orders_list">{{ item.pk }}</td>
                                        <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ item.update|date:"Y-m-d H:i:s" }}</td>
                                        <td>{{ item.get_status_display }}</td>
                                        <td>
                                            <a href="{% url 'ordersapp:order_read' item.pk %}">
                                                Details
                                            </a>
                                        </td>
                                        <td>
                                            {% if item.status == 'FM' %}
                                                <a href="{% url 'ordersapp:order_update' item.pk %}">
                                                    Edit
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.status == 'FM' %}
                                                <a href="{% url 'ordersapp:order_delete' item.pk %}">
                                                    Delete
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-default btn-round">
                            <a href="{% url 'ordersapp:order_create' %}">
                                Create
                            </a>
                        </button>
                        <button class="btn btn-default btn-round">
                            <a href="{% url 'geekshopapp:index' %}">
                                Main page
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            {% include "geekshopapp/includes/inc_footer.html" %}
        </div>
    {% endif %}
{% endblock %}