{% extends 'geekshopapp/base.html' %}
{% load static %}

{% block content %}
    <div class="top">
        {% include 'geekshopapp/includes/inc_main_menu.html' %}
        {% include 'geekshopapp/includes/inc_index_slider.html' %}
    </div>
    <div class="container_pr">
        <div class="featured-menu">
            <a class="active" href="#">Popular</a><a href="#">New</a>
        </div>
        <a class="explore" href="#">show all <img src="{% static 'geekshop/img/arrow.png' %}" alt=""></a>
        <div class="clearfix">
        </div>
        {% include 'geekshopapp/includes/inc_tab_content.html' %}
    </div>
    {% include "geekshopapp/includes/inc_footer.html" %}
{% endblock %}
