{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить {{ object.name }} ?
        <form action="{% url 'admin_staff:category_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger m-3" type="submit" value="удалить">
        </form>
        <a href="{% url 'admin_staff:categories' %}">
            <button class="btn btn-success m-3">

                Отмена

            </button>
        </a>
    </div>
{% endblock %}