{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="mx-auto col-3">
                {% if user.is_authenticated %}
                    <h1>Success!</h1>
                    <p>You activated your account successfully!</p>
                {% else %}
                    <h1>Error!</h1>
                    <p>Something went wrong. Send email to our support center!</p>
                {% endif %}
            </div>
        </div>
        <button class="btn btn-round form-control">
        <a href="{% url 'geekshopapp:index' %}" class="">
            Main page
        </a>
    </button>
    </div>

{% endblock %}