{% extends 'geekshop/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="hero-white">
			{% include 'geekshop/includes/inc_main_menu.html' %}
		</div>
		<div class="details">
			{% include 'mainapp/includes/inc_category_menu.html' %}
			<div class="products_list">
				<div class="title clearfix">
					<h2>
					  Категория: "{{ category.name|title }}"
					</h2>
				</div>
				<div class="details-products">
					<div class="details-slider">
						<div class="slider-product">
						  <img src="/media/{{ hot_product.image }}">
						</div>
						<div class="slider-control">
						  <div class="block">
							<a href="#"><img style="width: 70px; height: 70px;" src="/media/{{ hot_product.image }}" alt=""></a>
						  </div>
						  <div class="block">
							<a href="#"><img style="width: 70px; height: 70px;" src="/media/{{ hot_product.image }}" alt=""></a>
						  </div>
						  <div class="block">
							<a href="#"><img style="width: 70px; height: 70px;" src="/media/{{ hot_product.image }}" alt=""></a>
						  </div>
						</div>
					  </div>

					  <div class="description">
						<h3 class="big-bold">{{ hot_product.name }}</h3>
						<h3 class="red">горячее предложение</h3>
						<p class="price">{{ hot_product.price }} <span>руб</span></p>
						<a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
						  заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
						<div class="description-text">
						  {{ hot_product.description }}
						</div>
					</div>
				</div>
				<div class="related">
					<div class="title clearfix">
						<h2>Похожие продукты</h2>
						<a class="explore" href="#">показать все <img src="/static/geekshop/img/arrow.png" alt=""></a>
					</div>
					{% include 'mainapp/includes/inc_products.html' %}
				</div>
			</div>

			<div class="clr"></div>

		</div>
{% endblock %}